
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0 auto !important;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #bebebe;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 3px solid #c5c5c5;
}

.cabecalho {
    display: flex;
    position: fixed;
    font-weight: 800;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.445);
    z-index: 10;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

.logo {
    font-size: 2.3em;
    color: black;
    user-select: none;
    margin-left: -30px;
    font-family: monospace;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('images/Homeless man.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.principal::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.conteudo {
    color: rgb(0, 0, 0);
    position: relative;
    text-align: center;
    z-index: 2;
}

.formulario-pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.formulario-pesquisa input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.formulario-pesquisa button {
    padding: 10px 25px;
    background: black;
    color: #fbfcfd;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.botao-filtro {
    background: black;
    color: #fbfcfd;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
}

.filtros select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1em;
    color: #333;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
}

a {
    text-decoration: none;
}

.navegacao a {
    position: relative;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    color: black;
}

.navegacao a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navegacao a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.rodape {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

@media (max-width: 1250px) {
    .cabecalho {
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        row-gap: 18px;
    }

    .navegacao a {
        margin-left: 20px;
    }
}