* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.445);
}

.imgcapa {
    width: 100%;
    box-shadow: 1px 1px 4px 4px lightgrey;
}

hr {
    margin: 0;
    padding: 0;
}

.logosite {
    width: 300px;
    height: auto;
    color: #050505;
    user-select: none;
    color: black;
    margin-right: -100px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.Logo img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border-style: inset;
    border-color: rgb(212, 225, 63);
}

.navigation a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
}


.sobre h1 {
    margin-bottom: 20px;
}

.infos h1 {
    text-align: center;
}

.oqd h1 {
    text-align: center;
}

.ong-info {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 920px;
    margin: 0 auto;
}

.ong-info .sobre p {
    width: 500px;
    word-wrap: break-word;
}

.oqd-caixa {
    padding: 50px;
    background-color: rgb(255, 255, 194);
    box-shadow: 1px 1px 4px 4px lightgrey;
}

.info-caixa {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: beige;
    box-shadow: 1px 1px 4px 4px lightgrey;
}

.infos2 {
    padding: 20px;
    margin-left: 100px;
}

.infos2 strong {
    color: rgb(187, 169, 9);
}

.L,
.H,
.C {
    padding: 20px;
}

.C .redes {
    display: inline;
}

.C li a {
    color: black;
    text-decoration: none;
}

.rs {
    margin-left: 200px;
    padding-top: 5px;
}

.doacoes {
    padding: 30px;
    margin-left: 100px;
}

.botao a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 7px;
    transition: background-color 0.3s;
    background-color: rgb(234, 212, 17);
}

.botao a:hover {
    background-color: rgb(177, 160, 12);
    border-color: rgb(121, 110, 10);
}

.botao li {
    margin-left: 15px;
}

.comentarios-caixa {
    background-color: rgb(247, 247, 169);
    padding-bottom: 20px;
    box-shadow: 1px 1px 4px 4px lightgrey;
}

.comentarios-caixa h1 {
    padding-top: 50px;
    padding-bottom: 0px;
    text-align: center;
}

.comentarios-caixa .card {
    margin-bottom: 20px;
}

.comentarios-caixa .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comentarios-caixa .btn-apagar {
    cursor: pointer;
    color: red;
}

#listaComentarios {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Formulário de Comentários */
.comentarios-caixa form {
    padding: 20px;
    margin: 50px;
    background-color: white;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 1px;
}

.comentarios-caixa .form-label {
    font-weight: bold;
}

.comentarios-caixa .form-control {
    margin-bottom: 10px;
}

.comentarios-caixa .btn-primary {
    background-color: rgb(234, 212, 17);
    border-color: rgb(234, 212, 17);
    margin: center;
}

.comentarios-caixa .btn-primary:hover {
    background-color: rgb(177, 160, 12);
    border-color: rgb(121, 110, 10);
}

@media (max-width: 940px) {
    .ong-info {
        flex-direction: column;
        justify-content: center;
    }
}
