* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0 auto !important;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #bebebe;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 3px solid #c5c5c5;
}

.cabecalho {
    display: flex;
    position: fixed;
    font-weight: 800;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.445);
    z-index: 10;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

.logo {
    font-size: 2.3em;
    color: black;
    user-select: none;
    margin-left: -30px;
    font-family: monospace;
}

.navegacao a {
    position: relative;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    color: black;
}

.navegacao a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navegacao a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
}

.perfil, .interesses, .engajamentos {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    max-width: 600px;
}

.imagem-perfil img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.info-perfil h1 {
    margin: 10px 0;
    font-size: 24px;
}

.info-perfil p {
    color: #666;
    font-size: 16px;
    margin: 5px 0;
}

.imagens-engajamento {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.imagens-engajamento img {
    border-radius: 8px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.rodape {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
    margin-top: auto;
}

footer button {
    background: none;
    border: none;
    font-size: 15px;
    font-family: monospace;
    cursor: pointer;
    color: white;
}

@media (max-width: 1250px) {
    .cabecalho {
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        row-gap: 18px;
    }

    .navegacao a {
        margin-left: 20px;
    }
}
